{% extends "index.html" %}

{% block content %}
    <div class="container-lg">
        <!-- display data -->
        <div class="row mt-3">
            <p class="text-center" id="text-neon-orange">Last Update: <span id="timestmp">{{ set_timestamp }}</span></p>
            {% for per_curr in match_pair %}
                <div class="col-md-4 mt-3">
                    {% for per_rate in try_rate %}
                        <table class="table table-bordered text-center" id="text-neon-orange">
                            <tbody>
                                <tr>
{#                                    <td>#}
                                        <th>{{per_rate}}</th>
                                        <th>{{try_rate[per_rate]}}</th>
{#                                    </td>#}
                                </tr>
                                <tr>
{#                                    <td>#}
                                        <th>{{per_curr}}</th>
                                        <th id="exc-{{ per_curr }}">{{match_pair[per_curr]}}</th>
{#                                    </td>#}
                                </tr>
                            </tbody>
                        </table>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{url_for('static', filename='javascript/auto_update.js')}}"></script>
{% endblock %}